*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
section h1{
    text-align: center;
    margin-bottom: 5%;
}
.button-group{
    display: flex;
    margin-left: 30px;
    
    /* background-color: aqua; */
    width: 50%;
}
.button-group span {
    padding: 10px;
    margin: auto;
}
.form{
    /* display: flex; */
    
}
.form input{
    margin-left:50px;
    text-align: center;
}
.button{
    margin-left: 10px;
}